@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
}

[class*=__container] {
	max-width: 1920px;
	margin: 0 auto;
}

h1 {
	font-size: 48px;
	line-height: 59px;
	font-weight: 700;
	text-transform: uppercase;
}

.wrapper .header {
	position: relative;
	width: 100%;
}
.wrapper .header__swiper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}
.wrapper .header__slide {
	position: relative;
}
.wrapper .header__slide-image {
	width: 100%;
	height: 100%;
}
.wrapper .header__slide-image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.wrapper .header__slide-image:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}
.wrapper .header__slide-text {
	position: absolute;
	bottom: 14%;
	right: 4.27083%;
}
.wrapper .header__line {
	height: 1px;
	width: 560px;
	background-color: #FF8A00;
	margin: 0 0 40px 0;
}
.wrapper .header__car-name {
	font-size: 18px;
	text-transform: uppercase;
	text-align: right;
	text-shadow: 0px 0px 5px #000;
}
.wrapper .header .swiper-pagination {
	right: 82px;
}
.wrapper .header .swiper-pagination .swiper-pagination-bullet {
	margin: 40px 0;
}
.wrapper .header .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	line-height: 8px;
	background-color: transparent;
	border: 1px solid #fff;
	opacity: 1;
}
.wrapper .header .swiper-pagination-bullet-active {
	background-color: #FF8A00;
	border: 0px;
}
.wrapper .header__container {
	height: 100%;
	position: relative;
	z-index: 1;
	padding: 0 80px 0 82px;
}
.wrapper .header__body {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: calc(100% - 64px);
}
.wrapper .header__title {
	max-width: 750px;
	text-shadow: 0px 0px 10px #000;
}
.wrapper .header__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
	max-width: 667px;
	text-shadow: 0px 0px 5px #000;
	margin: 40px 0 80px 0;
}
.wrapper .header__button-link {
	background-color: #FF8A00;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.wrapper .header__button-link:active {
	background-color: transparent;
	color: #FF8A00;
}
.wrapper .menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 40px 0 0 0;
}
.wrapper .menu__logo {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	text-shadow: 0px 0px 7px #000;
}
.wrapper .menu__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px 90px;
}
.wrapper .menu__item a {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 0px 5px #000;
	position: relative;
}
.wrapper .menu__item a:after {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	background-color: #FF8A00;
	top: 24px;
	left: 0px;
	-webkit-transform: scale(0, 1);
	        transform: scale(0, 1);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.wrapper .menu__item:active a:after {
	-webkit-transform: scale(1, 1);
	        transform: scale(1, 1);
}
.wrapper .menu__burger {
	display: none;
}
.wrapper .button-link {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 61px;
	width: 203px;
	border-radius: 8px;
	border: 1px solid #FF8A00;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
}

@media (hover: hover) {
	.wrapper .header__button-link:hover {
		background-color: transparent;
		color: #FF8A00;
	}
	.wrapper .menu__item:hover a:after {
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
}
@media (min-height: 461px) {
	.wrapper .header {
		height: 100vh;
	}
}
@media (max-width: 1919px) {
	.wrapper .header__line {
		width: 29.16vw;
	}
}
@media (max-width: 1399px) {
	.wrapper .header .swiper-pagination {
		right: 62px;
	}
	.wrapper .header__container {
		padding: 0 60px 0 62px;
	}
	.wrapper .menu__items {
		gap: 0px 75px;
	}
}
@media (max-width: 1199px) {
	.wrapper .header .swiper-pagination {
		right: 46px;
	}
	.wrapper .header__container {
		padding: 0 45px 0 46px;
	}
	.wrapper .menu__items {
		gap: 0px 60px;
	}
}
@media (max-width: 991px) {
	h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.wrapper .header .swiper-pagination {
		right: 32px;
	}
	.wrapper .header__container {
		padding: 0 30px 0 32px;
	}
	.wrapper .header__title {
		max-width: 600px;
		text-shadow: 0px 0px 8px #000;
	}
	.wrapper .header__text {
		line-height: 36px;
		max-width: 550px;
		margin: 30px 0 60px 0;
	}
	.wrapper .header__line {
		margin: 0 0 30px 0;
	}
	.wrapper .menu__items {
		gap: 0px 50px;
	}
}
@media (max-width: 767px) {
	h1 {
		font-size: 32px;
		line-height: 40px;
	}
	.wrapper .header {
		height: 700px;
	}
	.wrapper .header__container {
		padding: 0 20px 0 20px;
	}
	.wrapper .header__body {
		height: calc(100% - 55px);
	}
	.wrapper .header__title {
		max-width: 480px;
		text-shadow: 0px 0px 7px #000;
	}
	.wrapper .header__text {
		line-height: 36px;
		max-width: 430px;
		margin: 25px 0 40px 0;
	}
	.wrapper .header__line {
		margin: 0 0 20px 0;
	}
	.wrapper .header__slide-text {
		bottom: 7%;
	}
	.wrapper .header .swiper-pagination {
		right: 20px;
	}
	.wrapper .menu {
		padding: 20px 0 0 0;
	}
	.wrapper .menu__items {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 0;
		width: 202px;
		height: 100vh;
		top: 0px;
		right: -250px;
		background-color: #000;
		border-top: 75px solid #000;
		border-left: 1px solid rgba(255, 138, 0, 0.3);
		position: absolute;
		z-index: 15;
		overflow-y: auto;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	.wrapper .menu__item a {
		display: block;
		font-size: 18px;
		padding: 0 0 0 30px;
		line-height: 60px;
		height: 60px;
	}
	.wrapper .menu__item:active a {
		color: #FF8A00;
	}
	.wrapper .menu__item:active a:after {
		-webkit-transform: scale(0, 1);
		        transform: scale(0, 1);
	}
	.wrapper .menu__item {
		display: block;
		position: relative;
	}
	.wrapper .menu__item:nth-child(1):before {
		content: "";
		width: 100%;
		height: 1px;
		background-color: rgba(255, 138, 0, 0.3);
		position: absolute;
		top: 0;
		left: 0;
	}
	.wrapper .menu__item:after {
		content: "";
		width: 100%;
		height: 1px;
		background-color: rgba(255, 138, 0, 0.3);
		position: absolute;
		top: 60px;
		left: 0;
	}
	.wrapper .menu__burger {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 8.5px 0px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 35px;
		height: 35px;
		background-color: transparent;
		z-index: 20;
	}
	.wrapper .menu__burger span {
		position: relative;
		display: block;
		background-color: #FF8A00;
		height: 6px;
		width: 100%;
		border-radius: 3.5px;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
	._open-burger-menu {
		overflow-y: hidden;
	}
	._open-burger-menu .wrapper .menu__items {
		right: 0;
	}
	._open-burger-menu .wrapper .menu__burger span:nth-child(2) {
		-webkit-transform: scale(0, 1);
		        transform: scale(0, 1);
	}
	._open-burger-menu .wrapper .menu__burger span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
		top: 14.5px;
	}
	._open-burger-menu .wrapper .menu__burger span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		top: -14.5px;
	}
}
@media (hover: hover) and (max-width: 767px) {
	.wrapper .menu__item:hover a {
		color: #FF8A00;
	}
	.wrapper .menu__item:hover a:after {
		-webkit-transform: scale(0, 1);
		        transform: scale(0, 1);
	}
}
@media (max-width: 575px) {
	h1 {
		font-size: 26px;
		line-height: 35px;
	}
	.wrapper .header {
		height: 500px;
	}
	.wrapper .header__container {
		padding: 0 15px 0 15px;
	}
	.wrapper .header__body {
		width: 100%;
		height: calc(100% - 50px);
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
	}
	.wrapper .header__title {
		text-shadow: 0px 0px 7px #000;
	}
	.wrapper .header__text {
		line-height: 30px;
		max-width: 430px;
		margin: 30px 0 50px 0;
	}
	.wrapper .header .swiper-pagination {
		display: none;
	}
	.wrapper .header__slide-text {
		display: none;
	}
	.wrapper .menu {
		padding: 15px 0 0 0;
	}
}
@media (max-height: 460px) and (min-width: 768px) {
	.wrapper .header {
		min-height: 100vh;
	}
	.wrapper .header__body {
		min-height: calc(100vh - 44px);
	}
	.wrapper .header__text {
		margin: 10px 0 20px 0;
	}
	.wrapper .header .swiper-pagination .swiper-pagination-bullet {
		margin: 20px 0;
	}
	.wrapper .menu {
		padding: 20px 0 0 0;
	}
}