@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
}

[class*=__container] {
	max-width: 1920px;
	margin: 0 auto;
}

h1 {
	font-size: 48px;
	line-height: 59px;
	font-weight: 700;
	text-transform: uppercase;
}

.wrapper .header {
	position: relative;
	height: 100vh;
	width: 100vw;
}
.wrapper .header__swiper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wrapper .header__slide {
	position: relative;
}
.wrapper .header__slide-image {
	width: 100%;
	height: 100%;
}
.wrapper .header__slide-image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.wrapper .header__slide-image:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}
.wrapper .header__slide-text {
	position: absolute;
	bottom: 14%;
	right: 4.27083%;
}
.wrapper .header__line {
	height: 1px;
	width: 560px;
	background-color: #FF8A00;
	margin: 0 0 40px 0;
}
.wrapper .header__car-name {
	font-size: 18px;
	text-transform: uppercase;
	text-align: right;
	text-shadow: 0px 0px 5px #000;
}
.wrapper .header .swiper-pagination {
	right: 0;
}
.wrapper .header .swiper-pagination .swiper-pagination-bullet {
	margin: 40px 0;
}
.wrapper .header .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	line-height: 8px;
	background-color: transparent;
	border: 1px solid #fff;
	opacity: 1;
}
.wrapper .header .swiper-pagination-bullet-active {
	background-color: #FF8A00;
	border: 0px;
}
.wrapper .header__container {
	max-width: 1758px;
	height: 100%;
	position: relative;
	z-index: 1;
}
.wrapper .header__body {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: calc(100% - 64px);
}
.wrapper .header__title {
	max-width: 750px;
	text-shadow: 0px 0px 10px #000;
}
.wrapper .header__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
	max-width: 667px;
	text-shadow: 0px 0px 5px #000;
	margin: 40px 0 80px 0;
}
.wrapper .header__button-link {
	background-color: #FF8A00;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.wrapper .header__button-link:active {
	background-color: transparent;
	color: #FF8A00;
}
.wrapper .menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 40px 0 0 0;
}
.wrapper .menu__logo {
	font-size: 24px;
	list-style: 29px;
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	text-shadow: 0px 0px 7px #000;
}
.wrapper .menu__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px 90px;
}
.wrapper .menu__item a {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 0px 5px #000;
	position: relative;
}
.wrapper .menu__item a:after {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	background-color: #FF8A00;
	top: 24px;
	left: 0px;
	-webkit-transform: scale(0, 1);
	        transform: scale(0, 1);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.wrapper .menu__item:active a:after {
	-webkit-transform: scale(1, 1);
	        transform: scale(1, 1);
}
.wrapper .button-link {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 61px;
	width: 203px;
	border-radius: 8px;
	border: 1px solid #FF8A00;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
}

@media (hover: hover) {
	.wrapper .header__button-link:hover {
		background-color: transparent;
		color: #FF8A00;
	}
	.wrapper .menu__item:hover a:after {
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
}