@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	overflow-x: hidden;
}

[class*=__container] {
	max-width: 1920px;
	margin: 0 auto;
}

h1 {
	font-size: 48px;
	line-height: 59px;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	color: #FF8A00;
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 40px 0 0 0;
}
.menu__logo {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	text-shadow: 0px 0px 7px #000;
}
.menu__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px 90px;
}
.menu__item a {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 0px 5px #000;
	position: relative;
}
.menu__item a:after {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	background-color: #FF8A00;
	top: 24px;
	left: 0px;
	-webkit-transform: scale(0, 1);
	        transform: scale(0, 1);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.menu__item:active a:after {
	-webkit-transform: scale(1, 1);
	        transform: scale(1, 1);
}
.menu__burger {
	display: none;
}

.button-link {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 61px;
	width: 203px;
	border-radius: 8px;
	border: 1px solid #FF8A00;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
}

.wrapper .header {
	position: relative;
	width: 100%;
}
.wrapper .header__swiper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}
.wrapper .header__slide {
	position: relative;
}
.wrapper .header__slide-image {
	width: 100%;
	height: 100%;
}
.wrapper .header__slide-image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.wrapper .header__slide-image:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}
.wrapper .header__slide-text {
	position: absolute;
	bottom: 14%;
	right: 4.27083%;
}
.wrapper .header__line {
	height: 1px;
	width: 560px;
	background-color: #FF8A00;
	margin: 0 0 40px 0;
}
.wrapper .header__car-name {
	font-size: 18px;
	text-transform: uppercase;
	text-align: right;
	text-shadow: 0px 0px 5px #000;
}
.wrapper .header .swiper-pagination {
	right: 82px;
}
.wrapper .header .swiper-pagination .swiper-pagination-bullet {
	margin: 40px 0;
}
.wrapper .header .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	line-height: 8px;
	background-color: transparent;
	border: 1px solid #fff;
	opacity: 1;
}
.wrapper .header .swiper-pagination-bullet-active {
	background-color: #FF8A00;
	border: 0px;
}
.wrapper .header__container {
	height: 100%;
	position: relative;
	z-index: 3;
	padding: 0 80px 0 82px;
}
.wrapper .header__body {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: calc(100% - 64px);
}
.wrapper .header__title {
	max-width: 750px;
	text-shadow: 0px 0px 10px #000;
}
.wrapper .header__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
	max-width: 667px;
	text-shadow: 0px 0px 5px #000;
	margin: 40px 0 80px 0;
}
.wrapper .header__button-link {
	background-color: #FF8A00;
}
.wrapper .header__button-link:active {
	background-color: transparent;
	color: #FF8A00;
}
.wrapper .main {
	background-color: #0E0E0E;
}
.wrapper .main__container {
	position: relative;
}
.wrapper .main__container .watermark {
	position: absolute;
	color: #0E0E0E;
	text-shadow: 2px 0px 2px #FF8A00, -2px 0px 2px #FF8A00, 0px -2px 2px #FF8A00, 0px 2px 2px #FF8A00;
	font-weight: 700;
	font-size: 15vw;
	opacity: 0.3;
	-webkit-writing-mode: vertical-rl;
	    -ms-writing-mode: tb-rl;
	        writing-mode: vertical-rl;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
	/*	&:nth-child(3) {
			top: 2961px;
			right: 43px;
		}*/
}
.wrapper .main__container .watermark:nth-child(1) {
	top: 1.67598%;
	right: 2.239583%;
}
.wrapper .main__container .watermark:nth-child(2) {
	top: 7.63501%;
	left: 2.239583%;
}
.wrapper .main .description {
	padding: 180px 0 180px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 180px 0;
	position: relative;
	z-index: 2;
}
.wrapper .main .description__item {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 0px 20px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .main .description__text-box-right {
	-ms-grid-column-align: right;
	    justify-self: right;
	max-width: 772px;
	padding: 0 82px 0 25px;
}
.wrapper .main .description__text-box-left {
	-ms-grid-column-align: left;
	    justify-self: left;
	max-width: 770px;
	padding: 0 25px 0 80px;
}
.wrapper .main .description__subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
}
.wrapper .main .description__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	margin: 40px 0 0 0;
}
.wrapper .main .description__image {
	max-height: 760px;
	height: 100%;
	width: 100%;
	position: relative;
	background: url("../img/loading.gif") center center no-repeat;
}
.wrapper .main .description__image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.wrapper .main .description__image:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.25);
}
.wrapper .main .description__link {
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #FF8A00;
	margin: 20px 0 0 0;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
.wrapper .main .description__link:active {
	color: #FFF;
}
.wrapper .main .description__button-link {
	margin: 140px 0 0 0;
	background-color: #FF8A00;
}
.wrapper .main .description__button-link:active {
	background-color: transparent;
	color: #FF8A00;
}
.wrapper .main .swiper-1 {
	padding: 0 0 180px 0;
}
.wrapper .main .swiper-1__slide {
	position: relative;
	padding-bottom: 27.3%;
	background: url("../img/loading.gif") center center no-repeat;
}
.wrapper .main .swiper-1__slide:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.wrapper .main .swiper-1__slide img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.wrapper .main .swiper-1__container {
	padding: 0 82px 0 80px;
}
.wrapper .main .motivational-text {
	padding: 68px 82px 68px 80px;
	text-align: center;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 22px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .main .motivational-text__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}
.wrapper .main .motivational-text__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
	max-width: 870px;
}
.wrapper .main .swiper-2 {
	background-color: #0E0E0E;
	position: relative;
	width: 100vw;
	height: 100vh;
}
.wrapper .main .swiper-2_container {
	width: 100%;
	height: 100%;
}
.wrapper .main .swiper-2__slide {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../img/loading.gif") center center no-repeat;
}
.wrapper .main .swiper-2__slide img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.wrapper .main .swiper-2__slide:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.wrapper .main .swiper-2 .swiper-pagination {
	bottom: 60px;
}
.wrapper .main .swiper-2 .swiper-pagination .swiper-pagination-bullet {
	margin: 0 20px;
}
.wrapper .main .swiper-2 .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	line-height: 8px;
	background-color: transparent;
	border: 1px solid #fff;
	opacity: 1;
}
.wrapper .main .swiper-2 .swiper-pagination-bullet-active {
	background-color: #FFFFFF;
	border: 0px;
}
.wrapper .main .last-text {
	padding: 180px 82px 180px 80px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 0 20px;
}
.wrapper .main .last-text__title {
	max-width: 550px;
}
.wrapper .main .last-text__text {
	font-weight: 500;
	line-height: 40px;
	text-transform: uppercase;
}
.wrapper .main .gallery {
	padding: 0 82px 0 80px;
	text-align: center;
}
.wrapper .main .gallery__items {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 0 20px;
}
.wrapper .main .gallery__item {
	width: 100%;
	padding-bottom: 62.141%;
	background: url("../img/loading.gif") center center no-repeat;
	position: relative;
}
.wrapper .main .gallery__item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.wrapper .main .gallery__button {
	margin: 50px 0 69px 0;
	color: #FF8A00;
}
.wrapper .main .gallery__button:active {
	background-color: #FF8A00;
	color: #FFF;
}
.wrapper .footer {
	background-color: #000000;
}
.wrapper .footer__body {
	padding: 80px 80px 172px 80px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 37.962% 25.282% 25.282% 11.474%;
	grid-template-columns: 37.962% 25.282% 25.282% 11.474%;
}
.wrapper .footer h2 {
	color: #fff;
}
.wrapper .footer__soc-net-text {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	margin: 80px 0 27px 0;
}
.wrapper .footer__soc-net-link {
	display: inline-block;
	width: 48px;
	height: 48px;
}
.wrapper .footer__soc-net-link svg {
	width: 100%;
	height: 100%;
	fill: #fff;
}
.wrapper .footer__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 42px 0;
}
.wrapper .footer__link a {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
}
.wrapper .footer__link a:active {
	text-decoration: underline;
}
.wrapper .footer__rights {
	border-top: 1px solid #fff;
	padding: 65px 80px 74px 80px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.wrapper .footer__rights-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 0 100px;
}
.wrapper .footer__rights-link a {
	color: #fff;
}
.wrapper .footer__rights-link a:active {
	text-decoration: underline;
}

@media (hover: hover) {
	.wrapper .header__button-link:hover {
		background-color: transparent;
		color: #FF8A00;
	}
	.wrapper .menu__item:hover a:after {
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
	.wrapper .main .description__button-link:hover {
		background-color: transparent;
		color: #FF8A00;
	}
	.wrapper .main .description__link:hover {
		color: #FFF;
	}
	.wrapper .main .gallery__button:hover {
		background-color: #FF8A00;
		color: #FFF;
	}
	.wrapper .footer__link a:hover, .wrapper .footer__rights-link a:hover {
		text-decoration: underline;
	}
}
@media (min-height: 461px) {
	.wrapper .header {
		height: 100vh;
	}
}
@media (max-width: 1919px) {
	.wrapper .header__line {
		width: 29.16vw;
	}
}
@media (max-width: 1399px) {
	.wrapper .header .swiper-pagination {
		right: 62px;
	}
	.wrapper .header__container {
		padding: 0 60px 0 62px;
	}
	.wrapper .menu__items {
		gap: 0px 75px;
	}
	.wrapper .main .description {
		padding: 150px 0 150px 0;
		gap: 150px 0;
	}
	.wrapper .main .description__text-box-right {
		padding: 0 62px 0 25px;
	}
	.wrapper .main .description__text-box-left {
		padding: 0 25px 0 60px;
	}
	.wrapper .main .description__button-link {
		margin: 100px 0 0 0;
	}
	.wrapper .main .swiper-1 {
		padding: 0 0 150px 0;
	}
	.wrapper .main .swiper-1__slide {
		padding-bottom: 30.196%;
	}
	.wrapper .main .swiper-1__container {
		padding: 0 62px 0 60px;
	}
	.wrapper .main .motivational-text {
		padding: 60px 62px 60px 60px;
		gap: 20px;
	}
	.wrapper .main .motivational-text__text {
		max-width: 590px;
	}
	.wrapper .main .last-text {
		padding: 150px 62px 150px 60px;
	}
	.wrapper .main .last-text__title {
		max-width: 430px;
	}
	.wrapper .main .gallery {
		padding: 0 62px 0 60px;
	}
	.wrapper .main .gallery__button {
		margin: 37.5px 0 51.75px 0;
	}
}
@media (max-width: 1199px) {
	h2 {
		font-size: 32px;
		line-height: 38px;
	}
	.wrapper .header .swiper-pagination {
		right: 46px;
	}
	.wrapper .header__container {
		padding: 0 45px 0 46px;
	}
	.wrapper .menu__items {
		gap: 0px 60px;
	}
	.wrapper .main .description {
		padding: 120px 0 120px 0;
		gap: 120px 0;
	}
	.wrapper .main .description__text-box-right {
		padding: 0 46px 0 20px;
	}
	.wrapper .main .description__text-box-left {
		padding: 0 20px 0 45px;
	}
	.wrapper .main .description__button-link {
		margin: 35px 0 0 0;
	}
	.wrapper .main .description__text {
		line-height: 32px;
		margin: 25px 0 0 0;
	}
	.wrapper .main .description__subtitle {
		line-height: 34px;
	}
	.wrapper .main .swiper-1 {
		padding: 0 0 120px 0;
	}
	.wrapper .main .swiper-1__slide {
		padding-bottom: 34.02%;
	}
	.wrapper .main .swiper-1__container {
		padding: 0 46px 0 45px;
	}
	.wrapper .main .motivational-text {
		padding: 52px 46px 52px 45px;
		gap: 18px;
	}
	.wrapper .main .motivational-text__title {
		line-height: 21px;
	}
	.wrapper .main .motivational-text__text {
		line-height: 36px;
		max-width: 555.63px;
	}
	.wrapper .main .swiper-2 .swiper-pagination {
		bottom: 50px;
	}
	.wrapper .main .last-text {
		padding: 120px 46px 120px 45px;
	}
	.wrapper .main .last-text__title {
		max-width: 380px;
	}
	.wrapper .main .last-text__text {
		line-height: 34px;
	}
	.wrapper .main .gallery {
		padding: 0 46px 0 45px;
	}
	.wrapper .main .gallery__button {
		margin: 24.789915px 0 42px 0;
	}
}
@media (max-width: 991px) {
	h1 {
		font-size: 40px;
		line-height: 50px;
	}
	h2 {
		font-size: 26px;
		line-height: 32px;
	}
	.wrapper .header .swiper-pagination {
		right: 32px;
	}
	.wrapper .header__container {
		padding: 0 30px 0 32px;
	}
	.wrapper .header__title {
		max-width: 600px;
		text-shadow: 0px 0px 8px #000;
	}
	.wrapper .header__text {
		line-height: 36px;
		max-width: 550px;
		margin: 30px 0 60px 0;
	}
	.wrapper .header__line {
		margin: 0 0 30px 0;
	}
	.wrapper .menu__items {
		gap: 0px 50px;
	}
	.wrapper .main .description {
		padding: 90px 0 90px 0;
		gap: 90px 0;
	}
	.wrapper .main .description__text-box-right {
		padding: 0 32px 0 5px;
	}
	.wrapper .main .description__text-box-left {
		padding: 0 5px 0 30px;
	}
	.wrapper .main .description__button-link {
		margin: 20px 0 0 0;
	}
	.wrapper .main .description__text {
		line-height: 32px;
		margin: 15px 0 0 0;
	}
	.wrapper .main .description__subtitle {
		line-height: 28px;
	}
	.wrapper .main .swiper-1 {
		padding: 0 0 90px 0;
	}
	.wrapper .main .swiper-1__slide {
		padding-bottom: 38.96%;
	}
	.wrapper .main .swiper-1__container {
		padding: 0 32px 0 30px;
	}
	.wrapper .main .motivational-text {
		padding: 44px 32px 44px 30px;
		gap: 16px;
	}
	.wrapper .main .motivational-text__title {
		line-height: 20px;
	}
	.wrapper .main .motivational-text__text {
		line-height: 32px;
		max-width: 498.56px;
	}
	.wrapper .main .swiper-2 {
		height: 570px;
	}
	.wrapper .main .swiper-2 .swiper-pagination {
		bottom: 45px;
	}
	.wrapper .main .last-text {
		padding: 90px 32px 90px 30px;
	}
	.wrapper .main .last-text__title {
		max-width: 310px;
	}
	.wrapper .main .last-text__text {
		line-height: 28px;
	}
	.wrapper .main .gallery {
		padding: 0 32px 0 30px;
	}
	.wrapper .main .gallery__button {
		margin: 20px 0 40px 0;
	}
}
@media (max-width: 767px) {
	h1 {
		font-size: 32px;
		line-height: 40px;
	}
	.wrapper .header {
		height: 700px;
	}
	.wrapper .header__container {
		padding: 0 20px 0 20px;
	}
	.wrapper .header__body {
		height: calc(100% - 55px);
	}
	.wrapper .header__title {
		max-width: 480px;
		text-shadow: 0px 0px 7px #000;
	}
	.wrapper .header__text {
		line-height: 36px;
		max-width: 430px;
		margin: 25px 0 40px 0;
	}
	.wrapper .header__line {
		margin: 0 0 20px 0;
	}
	.wrapper .header__slide-text {
		bottom: 7%;
	}
	.wrapper .header .swiper-pagination {
		right: 20px;
	}
	.wrapper .menu {
		padding: 20px 0 0 0;
	}
	.wrapper .menu__items {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 0;
		width: 202px;
		height: 100vh;
		width: 0px;
		top: 0px;
		right: 0px;
		background-color: #000;
		border-top: 75px solid #000;
		border-left: 1px solid rgba(255, 138, 0, 0.3);
		position: absolute;
		z-index: 15;
		overflow-y: auto;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		opacity: 0;
		visibility: hidden;
	}
	.wrapper .menu__item a {
		display: block;
		font-size: 18px;
		padding: 0 0 0 30px;
		line-height: 60px;
		height: 60px;
	}
	.wrapper .menu__item:active a {
		color: #FF8A00;
	}
	.wrapper .menu__item:active a:after {
		-webkit-transform: scale(0, 1);
		        transform: scale(0, 1);
	}
	.wrapper .menu__item {
		display: block;
		position: relative;
	}
	.wrapper .menu__item:nth-child(1):before {
		content: "";
		width: 100%;
		height: 1px;
		background-color: rgba(255, 138, 0, 0.3);
		position: absolute;
		top: 0;
		left: 0;
	}
	.wrapper .menu__item:after {
		content: "";
		width: 100%;
		height: 1px;
		background-color: rgba(255, 138, 0, 0.3);
		position: absolute;
		top: 60px;
		left: 0;
	}
	.wrapper .menu__burger {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: 8.5px 0px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 35px;
		height: 35px;
		background-color: transparent;
		z-index: 20;
	}
	.wrapper .menu__burger span {
		position: relative;
		display: block;
		background-color: #FF8A00;
		height: 6px;
		width: 100%;
		border-radius: 3.5px;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
	.wrapper .main .description {
		padding: 50px 0 50px 0;
		gap: 50px 0;
	}
	.wrapper .main .description__text-box-right {
		padding: 0 20px 0 0;
	}
	.wrapper .main .description__text-box-left {
		padding: 0 0 0 20px;
	}
	.wrapper .main .description__button-link {
		margin: 15px 0 0 0;
	}
	.wrapper .main .description__text {
		line-height: 28px;
		margin: 15px 0 0 0;
	}
	.wrapper .main .description__subtitle {
		line-height: 24px;
	}
	.wrapper .main .swiper-1 {
		padding: 0 0 50px 0;
	}
	.wrapper .main .swiper-1__slide {
		padding-bottom: 45.72%;
	}
	.wrapper .main .swiper-1__container {
		padding: 0 20px 0 20px;
	}
	.wrapper .main .motivational-text {
		padding: 36px 32px 36px 30px;
		gap: 14px;
	}
	.wrapper .main .motivational-text__title {
		line-height: 19px;
	}
	.wrapper .main .motivational-text__text {
		line-height: 28px;
		max-width: 444.16px;
	}
	.wrapper .main .swiper-2 {
		height: 450px;
	}
	.wrapper .main .swiper-2 .swiper-pagination {
		bottom: 30px;
	}
	.wrapper .main .last-text {
		padding: 50px 20px 50px 20px;
		gap: 0 11px;
	}
	.wrapper .main .last-text__title {
		max-width: 270px;
	}
	.wrapper .main .last-text__text {
		line-height: 24px;
	}
	.wrapper .main .gallery {
		padding: 0 20px 0 20px;
	}
	.wrapper .main .gallery__items {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		gap: 20px 0;
	}
	.wrapper .main .gallery__item {
		padding-bottom: 62.141%;
	}
	.wrapper .main .gallery__item:nth-child(2) {
		display: none;
	}
	._open-burger-menu {
		overflow-y: hidden;
	}
	._open-burger-menu .wrapper .menu__items {
		width: 202px;
		opacity: 1;
		visibility: visible;
	}
	._open-burger-menu .wrapper .menu__burger span:nth-child(2) {
		-webkit-transform: scale(0, 1);
		        transform: scale(0, 1);
	}
	._open-burger-menu .wrapper .menu__burger span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
		top: 14.5px;
	}
	._open-burger-menu .wrapper .menu__burger span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		top: -14.5px;
	}
}
@media (hover: hover) and (max-width: 767px) {
	.wrapper .menu__item:hover a {
		color: #FF8A00;
	}
	.wrapper .menu__item:hover a:after {
		-webkit-transform: scale(0, 1);
		        transform: scale(0, 1);
	}
}
@media (max-width: 575px) {
	h1 {
		font-size: 26px;
		line-height: 35px;
	}
	h2 {
		font-size: 20px;
		line-height: 32px;
	}
	.wrapper .header {
		height: 500px;
	}
	.wrapper .header__container {
		padding: 0 15px 0 15px;
	}
	.wrapper .header__body {
		width: 100%;
		height: calc(100% - 50px);
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
	}
	.wrapper .header__title {
		text-shadow: 0px 0px 7px #000;
	}
	.wrapper .header__text {
		line-height: 30px;
		max-width: 430px;
		margin: 30px 0 50px 0;
	}
	.wrapper .header .swiper-pagination {
		display: none;
	}
	.wrapper .header__slide-text {
		display: none;
	}
	.wrapper .menu {
		padding: 15px 0 0 0;
	}
	.wrapper .main .description {
		padding: 60px 0 60px 0;
		gap: 60px 0;
	}
	.wrapper .main .description__item {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		gap: 10px 0px;
		justify-items: center;
		text-align: center;
	}
	.wrapper .main .description__item_reverse {
		    grid-template-areas: "image" "text";
	}
	.wrapper .main .description__item_reverse .description__text-box-left {
		grid-area: text;
	}
	.wrapper .main .description__item_reverse .description__image {
		grid-area: image;
	}
	.wrapper .main .description__item_title .description__title {
		text-align: center;
	}
	.wrapper .main .description__text-box-right {
		-ms-grid-column-align: center;
		    justify-self: center;
		padding: 0 15px 0 15px;
	}
	.wrapper .main .description__text-box-left {
		-ms-grid-column-align: center;
		    justify-self: center;
		padding: 0 15px 0 15px;
	}
	.wrapper .main .description__button-link {
		margin: 15px 0 0 0;
	}
	.wrapper .main .description__text {
		line-height: 28px;
		margin: 1px 0 0 0;
		text-align: justify;
	}
	.wrapper .main .description__title {
		text-align: left;
	}
	.wrapper .main .description__subtitle {
		line-height: 28px;
		text-align: justify;
	}
	.wrapper .main .description__link {
		margin: 15px 0 0 0;
		text-align: left;
	}
	.wrapper .main .description__image {
		border-left: 15px solid #0E0E0E;
		border-right: 15px solid #0E0E0E;
	}
	.wrapper .main .swiper-1 {
		padding: 0 0 60px 0;
	}
	.wrapper .main .swiper-1__slide {
		padding-bottom: 53.25%;
	}
	.wrapper .main .swiper-1__container {
		padding: 0 15px 0 15px;
	}
	.wrapper .main .motivational-text {
		padding: 28px 32px 28px 30px;
		gap: 12px;
	}
	.wrapper .main .motivational-text__title {
		line-height: 18px;
	}
	.wrapper .main .motivational-text__text {
		line-height: 24px;
		max-width: 279.98px;
	}
	.wrapper .main .swiper-2 {
		height: 325px;
	}
	.wrapper .main .swiper-2 .swiper-pagination {
		bottom: 15px;
	}
	.wrapper .main .last-text {
		padding: 60px 15px 60px 15px;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		gap: 10px 0;
	}
	.wrapper .main .last-text__title {
		max-width: 415px;
		text-align: center;
		-ms-grid-column-align: center;
		    justify-self: center;
	}
	.wrapper .main .last-text__text {
		line-height: 26px;
	}
	.wrapper .main .gallery {
		padding: 0 15px 0 15px;
	}
	.wrapper .main .gallery__items {
		gap: 15px 0;
	}
	.wrapper .main .gallery__button {
		margin: 20px 0 30px 0;
	}
}
@media (max-width: 575px){
	.wrapper .main .description__item_reverse .description__text-box-left {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.wrapper .main .description__item_reverse .description__image {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
}
@media (max-height: 460px) and (min-width: 768px) {
	.wrapper .header {
		min-height: 100vh;
	}
	.wrapper .header__body {
		min-height: calc(100vh - 44px);
	}
	.wrapper .header__text {
		margin: 10px 0 20px 0;
	}
	.wrapper .header .swiper-pagination .swiper-pagination-bullet {
		margin: 20px 0;
	}
	.wrapper .menu {
		padding: 20px 0 0 0;
	}
}