@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	overflow-x: hidden;
}

[class*="__container"] {
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
	font-size: 48px;
	line-height: 59px;
	font-weight: 700;
	text-transform: uppercase;
}
h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	color: #FF8A00;
}



.wrapper {

	// ================= header =================
	.header {
		position: relative;
		width: 100%;

		&__swiper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
		}
		&__slide {
			position: relative;
		}
		&__slide-image {
			width: 100%;
			height: 100%;
		}
		&__slide-image img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&__slide-image:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.4);
		}
		&__slide-text {
			position: absolute;
			bottom: 14%;
			right: 4.27083%;
		}
		&__line {
			height: 1px;
			width: 560px;

			background-color: #FF8A00;
			margin: 0 0 40px 0;
		}
		&__car-name {
			font-size: 18px;
			text-transform: uppercase;
			text-align: right;
			text-shadow: 0px 0px 5px #000;
		}
		.swiper-pagination {
			right: 82px;

			.swiper-pagination-bullet {
				margin: 40px 0;
			}
		}
		.swiper-pagination-bullet {
			width: 8px;
			height: 8px;
			line-height: 8px;
			background-color: transparent;
			border: 1px solid #fff;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background-color: #FF8A00;
			border: 0px;
		}



		&__container {
			height: 100%;
			position: relative;
			z-index: 3;
			padding: 0 80px 0 82px; 
		}
		&__body {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			height: calc(100% - 64px);
		}
		&__title {
			max-width: 750px;
			text-shadow: 0px 0px 10px #000;
		}
		&__text {
			font-weight: 500;
			font-size: 16px;
			line-height: 40px;
			text-transform: uppercase;
			max-width: 667px;
			text-shadow: 0px 0px 5px #000;

			margin: 40px 0 80px 0;
		}
		&__button-link {
			background-color: #FF8A00;	

			&:active {
				background-color: transparent;
				color: #FF8A00;
			}
		}
	}

	// ================= menu =================
	.menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0 0 0;

		&__logo {
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 700;
			display: block;
			text-shadow: 0px 0px 7px #000;
		}
		&__items {
			display: flex;
			flex-direction: row;
			gap: 0px 90px ;
		}
		&__item a {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;
			color: #ffffff;
			text-shadow: 0px 0px 5px #000;
			position: relative;
		}
		&__item a:after {
			content: "";
			width: 100%;
			height: 1px;
			position: absolute;
			background-color: #FF8A00;
			top: 24px;
			left: 0px;
			transform: scale(0, 1);
			transition: all 0.2s ease;	
		}
		&__item:active {
			a:after {
				transform: scale(1, 1);	
			}
		}
		&__burger {
			display: none;
		}
	}

	// ================= button-link =================
	.button-link {
		display: inline-flex;
		height: 61px;
		width: 203px;
		border-radius: 8px;
		border: 1px solid #FF8A00;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;

		font-weight: 700;
		font-size: 14px;
		line-height: 28px;
		color: #fff;
	}

	// ================= main =================
	.main {
		background-color: #0E0E0E;

		&__container {
			position: relative;
			.watermark {
				position: absolute;
				
				color: #0E0E0E;
				text-shadow: 2px 0px 2px #FF8A00, -2px 0px 2px #FF8A00, 0px -2px 2px #FF8A00, 0px 2px 2px #FF8A00;
				font-weight: 700;
				//font-size: 288px;
				font-size: 15vw;
				opacity: 0.3;
				writing-mode: vertical-rl;

				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				z-index: 1;

				&:nth-child(1) {
					//top: 108px;
					top: 1.67598%;
					right: 2.239583%;
				}
				&:nth-child(2) {
					//top: 492px;
					top: 7.63501%;
					left: 2.239583%;
				}
			/*	&:nth-child(3) {
					top: 2961px;
					right: 43px;
				}*/
			}
		}
		// ================= main__description =================
		.description {
			padding: 180px 0 180px 0;
			display: flex;
			flex-direction: column;
			gap: 180px 0;
			position: relative;	
			z-index: 2;	

			&__item {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 0px 20px;
				align-items: center;
			}
			&__text-box-right {
				justify-self: right;
				max-width: 772px; // 665 + 82 + 25
				padding: 0 82px 0 25px;
			}
			&__text-box-left {
				justify-self: left;
				max-width: 770px; // 665 + 80 + 25
				padding: 0 25px 0 80px;
			}
			&__subtitle {
				font-weight: 500;
				font-size: 16px;
				line-height: 40px;
				text-transform: uppercase;
			}
			&__text {
				font-weight: 500;
				font-size: 14px;
				line-height: 40px;
				text-transform: uppercase;
				margin: 40px 0 0 0;
			}
			&__image {
				max-height: 760px;
				height: 100%;
				width: 100%;
				position: relative;
				background: url("../img/loading.gif") center center no-repeat;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: rgba(0,0,0,0.25);
				}
			}
			&__link {
				font-weight: 500;
				font-size: 14px;
				line-height: 40px;
				text-decoration-line: underline;
				text-transform: uppercase;
				color: #FF8A00;
				margin: 20px 0 0 0;
				transition: all 0.15s linear;	

				&:active {
					color: #FFF;
				}	
			}
			&__button-link {
				margin: 140px 0 0 0;
				background-color: #FF8A00;

				&:active {
					background-color: transparent;
					color: #FF8A00;
				}
			}
		}

		// ================= main__swiper-1 =================
		.swiper-1 {
			padding: 0 0 180px 0;
			&__slide {
				position: relative;
				padding-bottom: 27.3%;
				background: url("../img/loading.gif") center center no-repeat;

				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: rgba(0,0,0,0.3);
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&__container {
				padding: 0 82px 0 80px;
			}
		}

		// ================= main__motivational-text =================
		.motivational-text {
			padding: 68px 82px 68px 80px;
			text-align: center;
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			gap: 22px;
			align-items: center;
			
			&__title {
				font-weight: 700;
				font-size: 18px;
				line-height: 22px;
			}
			&__text {
				font-weight: 500;
				font-size: 14px;
				line-height: 40px;
				max-width: 870px;
			}
		}
	}
}



// ================= @media (hover: hover) =================
@media (hover: hover) {
	.wrapper {

		.header {
			&__button-link:hover {
				background-color: transparent;
				color: #FF8A00;
			}
		}

		.menu {
			&__item:hover {
				a:after {
					transform: scale(1, 1);	
				}
			}
		}

		.main {
			.description {
				&__button-link:hover {
					background-color: transparent;
					color: #FF8A00;
				}
				&__link:hover {
					color: #FFF;
				}
			}
		}
	}
}



// ================= @media (min-height: 461px) =================
@media (min-height: 461px) {
	.wrapper {
		.header {
			height: 100vh;
		}
	}
}



// ================= @media (max-width: 1919px) =================
@media (max-width: 1919px) {
	.wrapper {
		.header {
			&__line {
				width: 29.16vw;
			}
		}
	}
}

// ================= @media (max-width: 1399px) =================
@media (max-width: 1399px) {
	.wrapper {
		.header {
			.swiper-pagination {
				right: 62px;
			}
			&__container {
				padding: 0 60px 0 62px; 
			}
		}
		.menu {
			&__items {
				gap: 0px 75px;
			}
		}
		.main {
			.description {
				padding: 150px 0 150px 0;
				gap: 150px 0;
				&__text-box-right {
					padding: 0 62px 0 25px;
				}
				&__text-box-left {
					padding: 0 25px 0 60px;
				}
				&__button-link {
					margin: 100px 0 0 0;
				}
			}
			.swiper-1 {
				padding: 0 0 150px 0;

				&__slide {
					padding-bottom: 30.196%;
				}
				&__container {
					padding: 0 62px 0 60px;
				}
			}
			.motivational-text {
				padding: 60px 62px 60px 60px;
				gap: 20px;
				&__text {
					max-width: 590px;
				}
			}
		}
	}
}

// ================= @media (max-width: 1199px) =================
@media (max-width: 1199px) {
	h2 {
		font-size: 32px;
		line-height: 38px;
	}
	.wrapper {
		.header {
			.swiper-pagination {
				right: 46px;
			}
			&__container {
				padding: 0 45px 0 46px; 
			}
		}
		.menu {
			&__items {
				gap: 0px 60px;
			}
		}
		.main {
			.description {
				padding: 120px 0 120px 0;
				gap: 120px 0;
				&__text-box-right {
					padding: 0 46px 0 20px;
				}
				&__text-box-left {
					padding: 0 20px 0 45px;
				}
				&__button-link {
					margin: 35px 0 0 0;
				}
				&__text {
					line-height: 32px;
					margin: 25px 0 0 0;
				}
				&__subtitle {
					line-height: 34px;
				}
			}
			.swiper-1 {
				padding: 0 0 120px 0;

				&__slide {
					padding-bottom: 34.02%;
				}
				&__container {
					padding: 0 46px 0 45px;
				}
			}
			.motivational-text {
				padding: 52px 46px 52px 45px;
				gap: 18px;
				
				&__title {
					line-height: 21px;
				}
				&__text {
					line-height: 36px;
					max-width: 555.63px;
				}
			}
		}
	}
}

// ================= @media (max-width: 991px) =================
@media (max-width: 991px) {

	h1 {
		font-size: 40px;
		line-height: 50px;
	}
	h2 {
		font-size: 26px;
		line-height: 32px;
	}

	.wrapper {
		.header {
			.swiper-pagination {
				right: 32px;
			}
			&__container {
				padding: 0 30px 0 32px; 
			}
			&__title {
				max-width: 600px;
				text-shadow: 0px 0px 8px #000;
			}
			&__text {
				line-height: 36px;
				max-width: 550px;
				margin: 30px 0 60px 0;
			}
			&__line {
				margin: 0 0 30px 0;
			}
		}
		.menu {
			&__items {
				gap: 0px 50px;
			}
		}
		.main {
			.description {
				padding: 90px 0 90px 0;
				gap: 90px 0;
				&__text-box-right {
					padding: 0 32px 0 5px;
				}
				&__text-box-left {
					padding: 0 5px 0 30px;
				}
				&__button-link {
					margin: 20px 0 0 0;
				}
				&__text {
					line-height: 32px;
					margin: 15px 0 0 0;
				}
				&__subtitle {
					line-height: 28px;
				}
			}
			.swiper-1 {
				padding: 0 0 90px 0;

				&__slide {
					padding-bottom: 38.96%;
				}
				&__container {
					padding: 0 32px 0 30px;
				}
			}
			.motivational-text {
				padding: 44px 32px 44px 30px;
				gap: 16px;
				
				&__title {
					line-height: 20px;
				}
				&__text {
					line-height: 32px;
					max-width: 498.56px;
				}
			}
		}
	}
}

// ================= @media (max-width: 767px) =================
@media (max-width: 767px) {
	h1 {
		font-size: 32px;
		line-height: 40px;
	}

	.wrapper {
		.header {
			height: 700px;
			&__container {
				padding: 0 20px 0 20px; 
			}
			&__body {
				height: calc(100% - 55px);
			}
			&__title {
				max-width: 480px;
				text-shadow: 0px 0px 7px #000;
			}
			&__text {
				line-height: 36px;
				max-width: 430px;
				margin: 25px 0 40px 0;
			}
			&__line {
				margin: 0 0 20px 0;
			}
			&__slide-text {
				bottom: 7%;
			}
			.swiper-pagination {
				right: 20px;
			}
		}
		.menu {
			padding: 20px 0 0 0;
			&__items {
				flex-direction: column;
				gap: 0;
				width: 202px;
				height: 100vh;
				width: 0px;
				top: 0px;
				right: 0px;
				background-color: #000;
				border-top: 75px solid #000;
				border-left: 1px solid rgba(255, 138, 0, 0.3);
				position: absolute;
				z-index: 15;
				overflow-y: auto;
				transition: all 0.2s ease;	
				opacity: 0;
				visibility: hidden;
			}
			&__item a {
				display: block;
				font-size: 18px;
				padding: 0 0 0 30px;
				line-height: 60px;
				height: 60px;
			}
			&__item:active {
				a {
					color: #FF8A00;
				}
				a:after {
					transform: scale(0, 1);
				}
			}
			&__item {
				display: block;
				position: relative;	

				&:nth-child(1):before {
					content: "";
					width: 100%;
					height: 1px;
					background-color: rgba(255, 138, 0, 0.3);
					position: absolute;
					top: 0;
					left: 0;
				}
				&:after {
					content: "";
					width: 100%;
					height: 1px;
					background-color: rgba(255, 138, 0, 0.3);
					position: absolute;
					top: 60px;
					left: 0;
				}
			}
			&__burger {
				display: flex;
				gap: 8.5px 0px;
				flex-direction: column;
				width: 35px;
				height: 35px;
				background-color: transparent;
				z-index: 20;

				span {
					position: relative;
					display: block;
					background-color: #FF8A00;
					height: 6px;
					width: 100%;
					border-radius: 3.5px;
					transition: all 0.2s ease;
					transform: scale(1, 1);
				}
			}
		}

		.main {
			.description {
				padding: 50px 0 50px 0;
				gap: 50px 0;
				&__text-box-right {
					padding: 0 20px 0 0;
				}
				&__text-box-left {
					padding: 0 0 0 20px;
				}
				&__button-link {
					margin: 15px 0 0 0;
				}
				&__text {
					line-height: 28px;
					margin: 15px 0 0 0;
				}
				&__subtitle {
					line-height: 24px;
				}
			}
			.swiper-1 {
				padding: 0 0 50px 0;

				&__slide {
					padding-bottom: 45.72%;
				}
				&__container {
					padding: 0 20px 0 20px;
				}
			}
			.motivational-text {
				padding: 36px 32px 36px 30px;
				gap: 14px;
				
				&__title {
					line-height: 19px;
				}
				&__text {
					line-height: 28px;
					max-width: 444.16px;
				}
			}
		}
	}
	._open-burger-menu {
		overflow-y: hidden;
		.wrapper {
			.menu__items {
				width: 202px;
				opacity: 1;
				visibility: visible;
			}
			.menu__burger {
				span:nth-child(2) {
					transform: scale(0, 1);
				}
				span:nth-child(1) {
					transform: rotate(45deg);
					top: 14.5px;
				}
				span:nth-child(3) {
					transform: rotate(-45deg);
					top: -14.5px;
				}
			}
		}
	}
}
@media (hover: hover) and (max-width: 767px) {
	.wrapper {
		.menu {
			&__item:hover {
				a {
					color: #FF8A00;
				}
				a:after {
					transform: scale(0, 1);	
				}
			}
		}
	}
}

// ================= @media (max-width: 575px) =================
@media (max-width: 575px) {
	h1 {
		font-size: 26px;
		line-height: 35px;
	}
	h2 {
		font-size: 20px;
		line-height: 32px;
	}
	.wrapper {
		.header {
			height: 500px;

			&__container {
				padding: 0 15px 0 15px; 
			}
			&__body {
				width: 100%;
				height: calc(100% - 50px);
				align-items: center;
				text-align: center;
			}
			&__title {
				text-shadow: 0px 0px 7px #000;
			}
			&__text {
				line-height: 30px;
				max-width: 430px;
				margin: 30px 0 50px 0;
			}
			.swiper-pagination {
				display: none;
			}
			&__slide-text {
				display: none;
			}
		}
		.menu {
			padding: 15px 0 0 0;
		}

		.main {
			.description {
				padding: 60px 0 60px 0;
				gap: 60px 0;

				&__item {
					grid-template-columns: 1fr;
					gap: 10px 0px;
					justify-items: center;
					text-align: center;
				}
				&__item_reverse {
					grid-template-areas: "image" "text";
					.description__text-box-left {
						 grid-area: text;
					}
					.description__image {
						grid-area: image;
					}
				}
				&__item_title {
					.description__title {
						text-align: center;
					}
				}
				&__text-box-right {
					justify-self: center;
					padding: 0 15px 0 15px;
				}
				&__text-box-left {
					justify-self: center;
					padding: 0 15px 0 15px;
				}
				&__button-link {
					margin: 15px 0 0 0;
				}
				&__text {
					line-height: 28px;
					margin: 1px 0 0 0;
					text-align: justify;	
				}
				&__title {
					text-align: left;
				}
				&__subtitle {
					line-height: 28px;
					text-align: justify;
				}
				&__link {
					margin: 15px 0 0 0;
					text-align: left;
				}
				&__image {
					border-left: 15px solid #0E0E0E;
					border-right: 15px solid #0E0E0E;
				}
			}
			.swiper-1 {
				padding: 0 0 60px 0;

				&__slide {
					padding-bottom: 53.25%;
				}
				&__container {
					padding: 0 15px 0 15px;
				}
			}
			.motivational-text {
				padding: 28px 32px 28px 30px;
				gap: 12px;
				
				&__title {
					line-height: 18px;
				}
				&__text {
					line-height: 24px;
					max-width: 279.98px;
				}
			}
		}
	}
}



// ================= @media (max-height: 460px) =================
@media (max-height: 460px) and (min-width: 768px) {
	.wrapper {
		.header {
			min-height: 100vh;

			&__body {
				min-height: calc(100vh - 44px);
			}
			&__text {
				margin: 10px 0 20px 0;
			}

			.swiper-pagination {
				.swiper-pagination-bullet {
					margin: 20px 0;
				}
			}
		}

		.menu {
			padding: 20px 0 0 0;
		}
	}
}