@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
}

[class*="__container"] {
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
	font-size: 48px;
	line-height: 59px;
	font-weight: 700;
	text-transform: uppercase;
}



.wrapper {

	.header {
		position: relative;
		height: 100vh;
		width: 100vw;

		&__swiper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&__slide {
			position: relative;
		}
		&__slide-image {
			width: 100%;
			height: 100%;
		}
		&__slide-image img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&__slide-image:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.4);
		}
		&__slide-text {
			position: absolute;
			bottom: 14%;
			right: 4.27083%;
		}
		&__line {
			height: 1px;
			width: 560px;

			background-color: #FF8A00;
			margin: 0 0 40px 0;
		}
		&__car-name {
			font-size: 18px;
			text-transform: uppercase;
			text-align: right;
			text-shadow: 0px 0px 5px #000;
		}
		.swiper-pagination {
			right: 0;

			.swiper-pagination-bullet {
				margin: 40px 0;
			}
		}
		.swiper-pagination-bullet {
			width: 8px;
			height: 8px;
			line-height: 8px;
			background-color: transparent;
			border: 1px solid #fff;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background-color: #FF8A00;
			border: 0px;
		}



		&__container {
			max-width: 1758px;
			height: 100%;
			position: relative;
			z-index: 1;
		}
		&__body {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			height: calc(100% - 64px);
		}
		&__title {
			max-width: 750px;
			text-shadow: 0px 0px 10px #000;
		}
		&__text {
			font-weight: 500;
			font-size: 16px;
			line-height: 40px;
			text-transform: uppercase;
			max-width: 667px;
			text-shadow: 0px 0px 5px #000;

			margin: 40px 0 80px 0;
		}
		&__button-link {
			background-color: #FF8A00;
			transition: all 0.3s ease;	

			&:active {
				background-color: transparent;
				color: #FF8A00;
			}
		}
	}


	.menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0 0 0;
		&__logo {
			font-size: 24px;
			list-style: 29px;
			text-transform: uppercase;
			font-weight: 700;
			display: block;
			text-shadow: 0px 0px 7px #000;
		}
		&__items {
			display: flex;
			flex-direction: row;
			gap: 0px 90px ;
		}
		&__item a {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;
			color: #ffffff;
			text-shadow: 0px 0px 5px #000;
			position: relative;
		}
		&__item a:after {
			content: "";
			width: 100%;
			height: 1px;
			position: absolute;
			background-color: #FF8A00;
			top: 24px;
			left: 0px;
			transform: scale(0, 1);
			transition: all 0.2s ease;	
		}
		&__item:active {
			a:after {
				transform: scale(1, 1);	
			}
		}
	}

	.button-link {
		display: inline-flex;
		height: 61px;
		width: 203px;
		border-radius: 8px;
		border: 1px solid #FF8A00;
		align-items: center;
		justify-content: center;

		font-weight: 700;
		font-size: 14px;
		line-height: 28px;
		color: #fff;
	}
}



// ================= @media (hover: hover) =================
@media (hover: hover) {
	.wrapper {

		.header {
			&__button-link:hover {
				background-color: transparent;
				color: #FF8A00;
			}
		}

		.menu {
			&__item:hover {
				a:after {
					transform: scale(1, 1);	
				}
			}
		}
	}
}